<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="thumbnail">
        <img class="img-responsive" src="<%= event.image %>">
        <div class="caption-full">
          <h4><a><%= event.name %></a></h4>
          <p><%= event.description %></p>
          <p>
            <em>Submitted By <%= event.author.username %></em>
          </p>
          <% if(currentUser && event.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-xs btn-warning" href="/events/<%= event._id %>/edit">Edit</a>
            <form id="delete-form" action="/events/<%= event._id %>?_method=DELETE" method="POST">
              <button class="btn btn-xs btn-danger">Delete</button>
            </form>
          <% }%>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class="lead">Location</p>
      <p><%= event.location %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="well">
        <div class="text-right">
          <a class="btn btn-success" href="/events/<%= event._id %>/comments/new">Add New Comment</a>
        </div>
        <hr>
        <% event.comments.forEach(function(comment){ %>
          <strong><%= comment.author.username %></strong>
          <span class="pull-right">10 days ago</span>
          <p>
            <%= comment.text %> 
          </p>
          <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-xs btn-warning" 
              href="/events/<%=event._id %>/comments/<%=comment._id %>/edit">Edit</a>
            <form id="delete-form" action="/events/<%=event._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
              <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
          <% } %>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>